#start {
  text-align: center;
}

#start__hero {
  height: 40%;
  max-height: 500px;
  width: 100%;
  overflow: hidden;
}

#start__hero img {
  object-fit: cover;
  width: 100%;
}

.start__header {
  margin: 40px 0 20px 0;
}

.start__intro {
  font-size: 1.2rem;
  margin: auto;
  margin-bottom: 20px;
  max-width: 70vw;
}

.start__beginCheckin {
  display: inline-block !important;
}
